.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.jumbotron {
  width: 100%;
  background: url('../imgs/a.png') repeat center center;
  color: #000000;
  text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.5em;
}


#heading-text {
    display: table-cell;
    vertical-align: middle;
}

#page-heading {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  display: table;
}

#main-content {
  padding-left: 0;
  padding-right: 0;
  font-weight: 300;
  font-size: 1em;
}

.row {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
}

#file-upload {
  text-align: center;
}

#checkboxx{
    padding-bottom: 30px;
}

.upload_box{
    position: absolute; left: 50%; transform: translateX(-50%);

}

#image_size{
    padding-bottom: 15px;
}


