.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 20px;
}

.jumbotron {
  width: 100%;
  background: url('../imgs/a.png') repeat center center;
  color: #000000;
  text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.5em;
}


#heading-text {
    display: table-cell;
    vertical-align: middle;
}

#page-heading {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  display: table;
}

#main-content {
  padding-left: 0;
  padding-right: 0;
  font-weight: 300;
  font-size: 1em;
}

.row {
  padding-left: 30px;
  padding-right: 30px;
    padding-bottom: 25px;
  /*margin-left: 0px;*/
  /*margin-right: 0px;*/
  /*margin-top: 30px;*/
}

.upload_menu_title{
    padding-bottom: 25px;
}

#file-upload {
  text-align: center;
}

#form_field{
    padding-bottom: 25px;
}

.upload_box{
    position: absolute; left: 50%; transform: translateX(-50%);
    padding-top: 25px;
    padding-bottom: 30px;
}

#image_size_field{
    padding-bottom: 15px;
}

#image_row{
    padding-bottom: 25px;
}

#module_name{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#first_ranking{
    font-weight: bold;
}

#other_ranking{
    font-weight: normal;
}

#label_Field{
    padding-top: 10px
}

#result_detail_field{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.one{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#cropping_image{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#element_field{
    padding-top: 10px
}

#one{
     padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

#image_upload{
    padding-bottom: 100px;
}

hr.three_1{
    height: 50px;
    width: 0px;
    border-right: 0px;
}